
select.select {
    width: 100px;
    border: 1px solid black;
    margin-left: 20px;
    height: 30px;
}

input.search{
    width: 150px;
    border: 1px solid grey;
    height: 30px;
}

button.button {
    color: black;
    height: 30px;
    background-color: #5eb5e0;
    border: none;
}

