{% extends 'base.html.twig' %}

{% block title %}Hello ApiController!{% endblock %}

{% block body %}
    {{ parent() }}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
<form action="{{ url('search') }}" method="GET">
    <input class="search" type="text" name="value">
    <select class="select" name="category">
        <option value="movie">Films</option>
        <option value="person">Celebrites</option>
        <option value="tv">Series</option>
    </select>
    <button class="button"> Submit</button>
</form>
</div>
{% endblock %}
